.info-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
}
.info-card-container .info-card {
    flex-grow: 1;
}

.info-card {
    background-color: rgb(45, 38, 52);
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px black;
    max-width: 800px;
}
.info-card img {
    object-fit: cover;
    width: 80vw;
    max-width: 100%;
    max-height: 400px;
}
.info-card * {
    color:aliceblue;
}
.info-card h2 {
    text-align: center;
    text-shadow: 1px 2px 3px rgba(255, 128, 0, 0.702);
}

@media screen and (max-width: 600px) {
    .info-card img {
        width: 80vw;
    }
}