p, a {
    font-family: "Electrolize", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sixtyfour {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}


.full-width {
    width: 100vw;
    position: relative;
    right: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-break: loose;
}


#navbar-button,
#navbar-img {
    display: none;
}

header {
    background-color: antiquewhite;
    margin: 0px;
    margin-bottom: 10px;
    padding: 8px;
    right: 0px;
    bottom: 8px;
}

nav {
    display: flex;
    flex-direction: row;
}
nav * {
    margin: 2px 5px;
}
.navbutton {
    text-decoration: none;
    color: darkslategrey;
    transition: all 0.1s ease;
    padding: 2px 5px;
    border-radius: 3px;
}
.navbutton:hover {
    transform: translateY(-2px);
    background-color: azure;
}
.navbutton:active {
    transform: scale(1.2, 1.2);
    background-color: rgb(253, 246, 206);
}

#hero-img {
    height:auto;
}

@media only screen and (max-width: 600px) {
    #navbar-button:not(:checked) + #site-navbar {
        display: none;
    }
    #site-navbar {
        flex-direction: column;
    }
    #navbar-img {
        display: block;
    }
    #site-navbar .navbutton {
        text-align: center;
        width: 100%;
    }
}

footer {
    background-color: black;
    margin: 0px;
    margin-top: 10px;
}
footer span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px auto;
    width: fit-content;
}
footer span * {
    color: whitesmoke;
    place-self: center center;
    margin: 10px;
}