p, a, label, input, textarea, button {
    font-family: "Electrolize", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: calc(1em + 0.1vw);
}

.sixtyfour {
    font-family: "Sixtyfour", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}


.full-width {
    width: 100vw;
    position: relative;
    right: 8px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Wide screen contain */
.ws-contain {
    max-width: 1500px;
    overflow-wrap: break-word;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-break: loose;
}

h1 {
    font-size: calc(3em + 1vw);
}
h2 {
    font-size: calc(2.4em + 1vw);
}
h3 {
    font-size: calc(2em + 1vw);
}


#navbar-button,
#navbar-img,
#navbar-button-text {
    display: none;
}

header {
    margin: 0px;
    margin-bottom: 10px;
    padding: 8px;
    right: 0px;
    bottom: 8px;
    z-index: 99;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: row;
}
nav * {
    margin: 5px 5px;
}
.navbutton {
    text-decoration: none;
    color: darkslategrey;
    background-color: rgb(179, 255, 230);
    transition: all 0.1s ease;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: min(calc(1.3em + 1vw), 2em);
}

nav .navbutton {
    background-color: unset;
}
.navbutton:hover {
    transform: translateY(-2px);
    background-color: rgb(129, 200, 176);
}
.navbutton:active {
    transform: scale(1.2, 1.2);
    background-color: aquamarine;
}

.site-icon {
    float: left;
}

#site-navbar {
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    #navbar-button:not(:checked) + #site-navbar {
        display: none;
    }
    #site-navbar {
        flex-direction: column;
    }
    #navbar-img {
        display: block;
        width: 32px;
        float: right;
        margin: 20px;
        border-radius: 2px;
    }
    #site-navbar .navbutton {
        text-align: center;
        width: 100%;
    }
}

footer {
    background-color: black;
    margin: 0px;
    margin-top: 10px;
}
footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px auto;
    width: fit-content;
}
footer div * {
    color: whitesmoke;
    place-self: center center;
    margin: 10px;
}

textarea {
    resize: vertical;
}