html {
    background-image: linear-gradient(whitesmoke, darkblue);
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

@media only screen and (max-width: 1200px) {
    .img-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .img-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
    }
}

.image-card {
    width: fit-content;
    transition: all 0.1s ease;
    contain: content;
}
.image-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.image-card a {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.452);
    bottom: 6px;
    left: 4px;
    width: fit-content;
    z-index: 2;
    padding: 5px;
    color:white;
    font-family: "Sixtyfour", sans-serif;
    font-size: calc(0.8em + 0.1vw);
}
.image-card:hover a {
    display: block;
}

@media only screen and (max-width: 600px) {
    .image-card a {
        display: block;
    }
}
