html {
    background-image: linear-gradient(whitesmoke, darkblue);
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

@media only screen and (max-width: 1200px) {
    .img-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .img-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
    }
}

.img-grid img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.1s ease;
}

@media (prefers-reduced-motion: no-preference) {
    .img-grid img:hover {
    transform: scale(1.10, 1.10);
}
}